Repository adempiere/adempiere-vue, pull requests merged in 2021-11, with the labels that each got.

#1319 Different amounts when setting the column as editable
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1322 Support Confirm Delivery
  src/components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1324 Incorrect business partner information
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1323 allows Collect Order
  src/components/ADempiere/Form/VPOS/Collection/fieldsListCollection.js
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1325 Bring cup according to the date of payment
  src/components/ADempiere/Form/VPOS/Collection/fieldsListCollection.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1320 Duplicate route error
  src/layout/components/Sidebar/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1326 feat: Remove sql in Window and SB panels.
  src/api/ADempiere/browser.js
  src/api/ADempiere/field/locator.js
  src/api/ADempiere/user-interface/persistence.js
  src/api/ADempiere/window.js
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/dataManager.js
  src/utils/ADempiere/apiConverts/dictionary.js
  src/utils/ADempiere/contextUtils.js
  src/utils/ADempiere/dataUtils.js
  src/views/ADempiere/Browser/index.vue
Labels: (UITL) UI Tools, (SB) Smart Browser

#1318 Focus on Edit column
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1327 feat: Use computed caching in shorcut keys
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 01 Enhancement

#1328 Fix Modify Prices
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1330 Add focus when deleting a line
  src/components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1333 Add Billing Address
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1329 complete orders with decimals
  src/components/ADempiere/Form/VPOS/Collection/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1332 POS quick options
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/store/modules/ADempiere/utils.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1335 add scroll
  src/components/ADempiere/Form/VPOS/BusinessPartner/billingAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingAddress.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1337 Envelope put collection on the left
  src/components/ADempiere/Form/VPOS/Collection/fieldsListCollection.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/components/ADempiere/Form/VPOS/templateDevice/desktop.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1339 Add Confirm Delivery to quick options
  src/components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/store/modules/ADempiere/utils.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1336 Fixed POS functionality
  src/components/ADempiere/Field/FieldLocation/index.vue
  src/components/ADempiere/Field/FieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/billingAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldListBillingAddress.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldListShippingAddress.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListCreate.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/mixinBusinessPartner.js
Labels: (POS) Point of Sales

#1340 Add option the Search complete orders
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/OrderList/searchCompleteOrders.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/utils.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1342 add a flag at the time of delivery
  src/components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
Labels: 01 Enhancement, (POS) Point of Sales

#1343 Add name to create address
  src/components/ADempiere/Field/FieldLocation/fieldsList.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1341 error logout
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/RightPanel/index.vue
  src/components/RightPanel/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1349 Support to conversion rate per day
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/store/modules/ADempiere/pointOfSales/point/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1350 Filtering the order search
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/searchCompleteOrders.vue
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1351 Support Campaign
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Order/fieldsListOrder.js
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1352 Add loading to reverse order
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1353 Support update business partner address
  src/components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListCreate.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/store/modules/ADempiere/utils.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1354 Add image to the payment methods in the collection process
  src/components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
  src/image/ADempiere/pos/typePayment/EuroCash.jpg
  src/image/ADempiere/pos/typePayment/Paypal.jpg
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1357 feat: Add smart browser load table records.
  src/components/ADempiere/DefaultTable/ColumnsDisplayOption.vue
  src/components/ADempiere/DefaultTable/index.vue
  src/store/modules/ADempiere/browserManager.js
  src/utils/ADempiere/constants/table.js
  src/utils/ADempiere/contextUtils.js
  src/views/ADempiere/Browser/index.vue
Labels: 12 Feature, 20 Refactoring, (SB) Smart Browser

#1363 Error in the collection
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/components/ADempiere/Form/VPOS/templateDevice/desktop.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1362 feat: Add hide only this field.
  src/components/ADempiere/Field/FieldOptions/EmptyOption.vue
  src/components/ADempiere/Field/FieldOptions/fieldOptionsList.js
  src/components/ADempiere/Field/FieldOptions/index.vue
  src/lang/ADempiere/en/fieldOptions.js
  src/lang/ADempiere/es/fieldOptions.js
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/panel/getters.js
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Window/index.vue
Labels: 01 Enhancement, (UILP) UI Lookups, (UICL) UI Custom Lookups, 12 Feature

#1355 Add Translations
  src/components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldListBillingAddress.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldListShippingAddress.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldListUpdate.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1367 Cash opening and cash withdrawal support
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Field/FieldSelect.vue
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Options/CashOpening/fieldsList.js
  src/components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/fieldsList.js
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/store/modules/ADempiere/utils.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1368 support Cash Summary Movements
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListCreate.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  src/components/ADempiere/Form/VPOS/Options/CashSummaryMovements/fieldsList.js
  src/components/ADempiere/Form/VPOS/Options/CashSummaryMovements/index.vue
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
  src/store/modules/ADempiere/pointOfSales/payments/getters.js
  src/store/modules/ADempiere/pointOfSales/payments/mutations.js
  src/store/modules/ADempiere/pointOfSales/payments/state.js
  src/store/modules/ADempiere/utils.js
Labels: 01 Enhancement, 32 Proposal, 27 Fast Resolution, (POS) Point of Sales

#1372 Recharge when changing terminals
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1373 Correction of confirm delivery
  src/components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/OrderList/searchCompleteOrders.vue
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1374 validate if the cash register is configured for cash opening
  src/components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  src/components/ADempiere/Form/VPOS/Options/CashSummaryMovements/index.vue
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1375 Support Assign Seller
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Options/AssignSeller/fieldsList.js
  src/components/ADempiere/Form/VPOS/Options/AssignSeller/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/utils.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1376 Correct order search
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/OrderList/searchCompleteOrders.vue
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1377 Add validations at the Point of Sale
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Options/AssignSeller/index.vue
  src/components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1379 Correcting post payment errors
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldListUpdate.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListCreate.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1380 feat: Add translation tab.
  src/components/ADempiere/Field/FieldOptions/PreferenceValue/index.vue
  src/components/ADempiere/Field/FieldOptions/TranslatedField/index.vue
  src/components/ADempiere/Field/FieldOptions/fieldOptionsList.js
  src/components/ADempiere/Field/FieldOptions/index.vue
  src/components/ADempiere/Field/index.vue
  src/lang/ADempiere/en/fieldOptions.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/fieldOptions.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/language.js
  src/store/modules/ADempiere/languageManager.js
Labels: 01 Enhancement, (UITL) UI Tools, (UICL) UI Custom Lookups, 20 Refactoring

#1381 feature/add-attribute-pos
  src/components/ADempiere/Form/VPOS/Options/index.vue
Labels: 01 Enhancement, (POS) Point of Sales

#1382 fix: Get private access request.
  src/api/ADempiere/actions/private-access.js
  src/components/ADempiere/ContainerOptions/LockRecord/index.vue
  src/store/modules/ADempiere/data/actions.js
  src/store/modules/ADempiere/data/getters.js
  src/store/modules/ADempiere/data/index.js
  src/store/modules/ADempiere/data/mutations.js
  src/store/modules/ADempiere/privateAccess.js
Labels: 02 Bug, 20 Refactoring

#1384 feat: Refactor lookup manager.
  src/components/ADempiere/Field/FieldOptions/index.vue
  src/components/ADempiere/Field/FieldSelect.vue
  src/components/ADempiere/Field/mixin/mixinField.js
  src/store/modules/ADempiere/lookup.js
  src/store/modules/ADempiere/lookupManager.js
  src/store/modules/ADempiere/panel/getters.js
Labels: 01 Enhancement, (UILP) UI Lookups, 20 Refactoring

#1385 fix: Multiple request default value by sql.
  src/api/ADempiere/user-interface/persistence.js
  src/api/ADempiere/window.js
  src/components/ADempiere/Field/mixin/mixinField.js
  src/store/modules/ADempiere/data/actions.js
  src/store/modules/ADempiere/defaultValueManager.js
Labels: 02 Bug, (UILP) UI Lookups, (CIO) Code Improvement or Optimization

#1386 add the Dashboard window as the main page
  src/views/login/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1387 Bring an ID when you can't find a business partner
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1390 highlight order amount
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1392 feat: Add run process or report panel.
  src/components/ADempiere/ActionMenu/Actions.vue
  src/components/ADempiere/FileRender/EmptyFile/index.vue
  src/components/ADempiere/FileRender/ExcelFile/index.vue
  src/components/ADempiere/FileRender/HtmlFile/index.vue
  src/components/ADempiere/FileRender/PdfFile/index.vue
  src/lang/ADempiere/en/actionMenu.js
  src/lang/ADempiere/es/actionMenu.js
  src/store/modules/ADempiere/dictionary/process/actions.js
  src/store/modules/ADempiere/dictionary/process/getters.js
  src/store/modules/ADempiere/processManager.js
  src/store/modules/ADempiere/reportManager.js
  src/utils/ADempiere/constants/actionsMenuList.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/resource.js
  src/views/ADempiere/Process/index.vue
Labels: 01 Enhancement, 20 Refactoring, (PRC) Processes, (RPT) Reports

#1393 fix: Parameters isRange number
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/store/modules/ADempiere/dictionary/process/getters.js
Labels: 02 Bug, (SB) Smart Browser, (PRC) Processes, (RPT) Reports

#1397 feat: Add document status field option.
  src/components/ADempiere/ContainerOptions/DocumentStatusTag/index.vue
  src/components/ADempiere/DefaultTable/CellInfo.vue
  src/components/ADempiere/DefaultTable/index.vue
  src/components/ADempiere/Field/FieldOptions/DocumentStatus/index.vue
  src/components/ADempiere/Field/FieldOptions/index.vue
  src/utils/ADempiere/dictionaryUtils.js
  src/utils/ADempiere/globalMethods.js
  src/utils/ADempiere/valueUtils.js
Labels: 01 Enhancement, 20 Refactoring

#1398 Add Hold Order
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 32 Proposal, 27 Fast Resolution, (POS) Point of Sales

#1399 Add Hold Order
  src/components/ADempiere/Form/VPOS/OrderList/FindOrders/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/utils.js
Labels: 01 Enhancement, 24 Basic Changes, 32 Proposal, (POS) Point of Sales

#1400 update order only when data changes
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1401 feat: Add collapse tabs.
  src/components/ADempiere/AuxiliaryPanel/index.vue
  src/components/ADempiere/ContainerOptions/LockRecord/index.vue
  src/components/ADempiere/DefaultTable/index.vue
  src/components/ADempiere/Field/index.vue
  src/components/ADempiere/PanelDefinition/panelUtils.js
  src/components/ADempiere/TabManager/TabLabel.vue
  src/components/ADempiere/TabManager/index.vue
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/utils/ADempiere/dictionary/window.js
  src/views/ADempiere/Window/index.vue
Labels: 01 Enhancement, (UITL) UI Tools, (UIX) User Experience, 12 Feature, 20 Refactoring

#1402 change date filter
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1403 feat: Load records in tab child.
  src/components/ADempiere/DefaultTable/index.vue
  src/components/ADempiere/PanelDefinition/panelUtils.js
  src/components/ADempiere/RecordNavigation/index.vue
  src/components/ADempiere/TabManager/index.vue
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/panel.js
  src/utils/ADempiere/dictionary/window.js
Labels: 01 Enhancement, (UITL) UI Tools, 20 Refactoring

#1404 feat: Edit records in table
  src/components/ADempiere/DefaultTable/CellInfo.vue
  src/components/ADempiere/DefaultTable/index.vue
  src/components/ADempiere/Field/FieldDate.vue
  src/components/ADempiere/Field/FieldSelect.vue
  src/components/ADempiere/Field/index.vue
  src/components/ADempiere/Field/mixin/mixinField.js
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/processControl.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/constants/table.js
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Window/index.vue
Labels: 01 Enhancement, (UITL) UI Tools, 20 Refactoring, (SB) Smart Browser

#1405 feat: Remove old table implementation.
  src/components/ADempiere/DataTable/dataTables-Script.js
  src/components/ADempiere/DataTable/dataTables-StyleGlobal.scss
  src/components/ADempiere/DataTable/dataTables-StyleScoped.scss
  src/components/ADempiere/DataTable/fixedColumns.vue
  src/components/ADempiere/DataTable/index.vue
  src/components/ADempiere/DataTable/menu/index.vue
  src/components/ADempiere/DataTable/menu/menuTableMixin.js
  src/components/ADempiere/DataTable/menu/tableContextMenu.vue
  src/components/ADempiere/DataTable/mixin/mixinTableSort.js
  src/components/ADempiere/DataTable/mixin/tableMixin.js
  src/store/modules/ADempiere/system.js
  src/utils/ADempiere/formatValue/dateFormat.js
  src/utils/ADempiere/formatValue/numberFormat.js
  src/utils/ADempiere/references.js
  src/utils/ADempiere/valueFormat.js
  src/utils/ADempiere/valueUtils.js
Labels: 01 Enhancement, 24 Basic Changes, 20 Refactoring
