Repository adempiere/adempiere-vue, pull requests merged in 2021-05, with the labels that each got.

#800 Create preference.md
  docs/.vuepress/config.js
  docs/components/preference.md
  docs/components/resources/preference-desktop-mobile.png
  docs/components/resources/zk-desktop-version-preference.png
  docs/es/components/preference.md
  docs/es/components/resources/preference-desktop-mobile.png
  docs/es/components/resources/zk-desktop-version-preference.png
  docs/zh/components/preference.md
  docs/zh/components/resources/preference-desktop-mobile.png
  docs/zh/components/resources/zk-desktop-version-preference.png
Labels: Documentation (Doc)

#803 Feature/add release documentation
  .github/workflows/documentation.yml
  .github/workflows/publish.yml
Labels: Documentation (Doc), enhancement

#804 Feature/add doc builder
  .github/workflows/docs.yml
  .github/workflows/publish.yml
Labels: Documentation (Doc)

#806 Add components to path
  docs/.vuepress/config.js
  docs/es/guide/components/preference.md
  docs/es/guide/components/resources/preference-desktop-mobile.png
  docs/es/guide/components/resources/zk-desktop-version-preference.png
  docs/guide/components/preference.md
  docs/guide/components/resources/preference-desktop-mobile.png
  docs/guide/components/resources/zk-desktop-version-preference.png
  docs/zh/guide/components/preference.md
  docs/zh/guide/components/resources/preference-desktop-mobile.png
  docs/zh/guide/components/resources/zk-desktop-version-preference.png
Labels: Documentation (Doc)

#807 Add changes in path
  docs/es/guide/components/preference.md
  docs/guide/components/preference.md
  docs/zh/guide/components/preference.md
Labels: Documentation (Doc)

#808 Add images
  docs/.vuepress/public/images/components/preference/preference-desktop-mobile.png
  docs/.vuepress/public/images/components/preference/zk-desktop-version-preference.png
Labels: Documentation (Doc)

#809 Add Translation for Preference Dialog
  docs/es/guide/components/preference.md
  docs/guide/components/preference.md
  docs/zh/guide/components/preference.md
Labels: Documentation (Doc)

#810 Update preference.md
  docs/es/guide/components/preference.md
  docs/guide/components/preference.md
  docs/zh/guide/components/preference.md
Labels: Documentation (Doc)

#811 Update preference.md
  docs/es/guide/components/preference.md
  docs/guide/components/preference.md
  docs/zh/guide/components/preference.md
Labels: Documentation (Doc)

#812 Remove unnecessary folders
  docs/es/guide/components/resources/preference-desktop-mobile.png
  docs/es/guide/components/resources/zk-desktop-version-preference.png
  docs/zh/guide/components/resources/preference-desktop-mobile.png
  docs/zh/guide/components/resources/zk-desktop-version-preference.png
Labels: Documentation (Doc)

#801 add release Notes
  src/api/documentation/documentation.js
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/router/index.js
  src/views/documentation/index.vue
Labels: Base Changes, Functional Test

#802 Process Activity Window Support in Mobile Mode
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/views/ADempiere/ProcessActivity/index.vue
  src/views/ADempiere/ProcessActivity/modeDesktop.vue
  src/views/ADempiere/ProcessActivity/modeMobile.vue
Labels: UI Base Tools, bug

#815 How to create and delete preference in desktop and mobile version
  docs/es/guide/components/preference.md
  docs/guide/components/preference.md
  docs/zh/guide/components/preference.md
Labels: Documentation (Doc)

#805 Add lock and unlock record to record access dialog box
  src/components/ADempiere/ContextMenu/contextMenuDesktop.vue
  src/components/ADempiere/ContextMenu/contextMenuMobile.vue
  src/components/ADempiere/Dialog/embedded.vue
  src/components/ADempiere/Dialog/index.vue
  src/components/ADempiere/RecordAccess/recordAccess.js
  src/components/ADempiere/RecordAccess/recordAccessDesktop.vue
  src/components/ADempiere/RecordAccess/recordAccessMobile.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: Fast Resolution, Minor Change

#813 Create access-to-records.md
  docs/.vuepress/config.js
  docs/.vuepress/public/images/components/record-access/AD-Vue_MA-Acceso_Registro.png
  docs/.vuepress/public/images/components/record-access/ZK_access-to-records.png
  docs/.vuepress/public/images/components/record-access/record-access.md
  docs/es/guide/components/record-access.md
  docs/guide/components/record-access.md
  docs/zh/guide/components/record-access.md
Labels: Documentation (Doc)

#816 add record access to the route
  src/components/ADempiere/ContextMenu/contextMenuDesktop.vue
  src/components/ADempiere/Dialog/embedded.vue
  src/components/ADempiere/Field/contextMenuField/preference/index.vue
  src/components/ADempiere/RecordAccess/recordAccess.js
  src/store/modules/ADempiere/contextMenu.js
  src/views/ADempiere/Window/windowLogicComponent.js
Labels: Fast Resolution, Minor Change, Proposal

#821 Support Option Traslation
  src/components/ADempiere/Field/contextMenuField/translated/index.vue
  src/components/ADempiere/Field/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/language.js
Labels: Minor Change, bug

#823 preference modification
  docs/es/guide/components/preference.md
  docs/guide/components/preference.md
  docs/zh/guide/components/preference.md
Labels: Documentation (Doc)

#824 Add log lock icon
  src/components/ADempiere/Tab/index.vue
Labels: Fast Resolution, Minor Change, enhancement

#826 component notes
  docs/.vuepress/config.js
  docs/.vuepress/public/images/components/notes/create-notes-in-desktop-version.gif
  docs/.vuepress/public/images/components/notes/create-notes-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/notes/notes-desktop-mobile.png
  docs/.vuepress/public/images/components/notes/zk-desktop-version-notes.png
  docs/es/guide/components/notes.md
  docs/guide/components/notes.md
  docs/zh/guide/components/notes.md
Labels: Documentation (Doc)

#820 information component
  docs/.vuepress/config.js
  docs/.vuepress/public/images/components/information/how-to-use-it-in-the-desktop-version.gif
  docs/.vuepress/public/images/components/information/how-to-use-it-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/information/ui-version-information.png
  docs/.vuepress/public/images/components/information/zk-desktop-version-information.png
  docs/es/guide/components/information.md
  docs/guide/components/information.md
  docs/zh/guide/components/information.md
Labels: Documentation (Doc)

#822 Add Change Log option in field
  src/components/ADempiere/ContainerInfo/recordLogs.vue
  src/components/ADempiere/Field/contextMenuField/changeLogs/index.vue
  src/components/ADempiere/Field/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/containerInfo.js
  src/views/ADempiere/Window/windowLogicComponent.js
Labels: UI Base Features, UI Base Tools, enhancement

#827 add document
  docs/es/guide/components/preference.md
  docs/guide/components/preference.md
  docs/zh/guide/components/preference.md
Labels: Fast Resolution

#825 fix style list Chat Entries in mode mobile
  src/components/ADempiere/ChatEntries/index.vue
  src/views/ADempiere/Window/index.vue
  src/views/ADempiere/Window/windowLogicComponent.js
Labels: Fast Resolution, bug

#828 Minor fix for record access
  docs/guide/components/record-access.md
Labels: Documentation (Doc), Fast Resolution

#829 Fixed error with tablename for record access
  src/components/ADempiere/ContextMenu/contextMenuMixin.js
Labels: Security, bug

#833 Support Lock Record
  src/components/ADempiere/Tab/index.vue
  src/components/ADempiere/Tab/tabMixin.js
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/views/ADempiere/Window/index.vue
Labels: Fast Resolution, bug

#836 components
  docs/.vuepress/config.js
  docs/.vuepress/public/images/components/translation/how-to-use-it-in-the-desktop-version.gif
  docs/.vuepress/public/images/components/translation/how-to-use-it-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/translation/translation-desktop-mobile.png
  docs/.vuepress/public/images/components/translation/zk-desktop-version-translation.png
  docs/.vuepress/public/images/components/update/how-to-use-it-in-the-desktop-version.gif
  docs/.vuepress/public/images/components/update/ui-desktop-version-update.png
  docs/.vuepress/public/images/components/update/zk-desktop-version-update.png
  docs/es/guide/components/translation.md
  docs/es/guide/components/update.md
  docs/guide/components/translation.md
  docs/guide/components/update.md
  docs/zh/guide/components/translation.md
  docs/zh/guide/components/update.md
Labels: Documentation (Doc)

#835 Fix Message Record Access
  src/components/ADempiere/Tab/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: Fast Resolution, bug

#838 Record Access service documentation
  docs/es/guide/components/record-access.md
  docs/guide/components/record-access.md
  docs/zh/guide/components/record-access.md
Labels: Documentation (Doc)

#839 Add Notes Services Documentation
  docs/es/guide/components/notes.md
  docs/guide/components/notes.md
  docs/zh/guide/components/notes.md
Labels: Documentation (Doc)

#840 Just add license to files
  tests/unit/components/ADempiere/Badge/index.vue.spec.js
  tests/unit/utils/ADempiere/apiConverts/core.spec.js
  tests/unit/utils/ADempiere/apiConverts/dashboard.spec.js
  tests/unit/utils/ADempiere/apiConverts/dictionary.spec.js
  tests/unit/utils/ADempiere/apiConverts/field.spec.js
  tests/unit/utils/ADempiere/apiConverts/persistence.spec.js
  tests/unit/utils/ADempiere/apiConverts/pos.spec.js
  tests/unit/utils/ADempiere/apiConverts/process.spec.js
  tests/unit/utils/ADempiere/apiConverts/report.spec.js
  tests/unit/utils/ADempiere/apiConverts/user.spec.js
  tests/unit/utils/ADempiere/apiConverts/values.spec.js
  tests/unit/utils/ADempiere/apiConverts/window.spec.js
  tests/unit/utils/ADempiere/transformObject.spec.js
Labels: Minor Change

#837 Support Notes
  src/components/ADempiere/ChatEntries/index.vue
  src/components/ADempiere/ChatEntries/listChatEntry.vue
  src/components/ADempiere/ChatEntries/mixinChat.js
  src/components/ADempiere/ChatEntries/modeDesktop.vue
  src/components/ADempiere/ChatEntries/modeMobile.vue
  src/components/ADempiere/ContextMenu/contextMenuMobile.vue
  src/components/ADempiere/Field/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/views/ADempiere/Window/index.vue
  src/views/ADempiere/Window/windowLogicComponent.js
  src/views/ADempiere/Window/windowStyleScoped.scss
Labels: Fast Resolution, Minor Change, bug

#841 Add Translation Services Documentation
  docs/es/guide/components/translation.md
  docs/guide/components/translation.md
  docs/zh/guide/components/translation.md
  src/api/ADempiere/persistence.js
  src/store/modules/ADempiere/language.js
Labels: Documentation (Doc)

#842 components
  docs/.vuepress/config.js
  docs/.vuepress/public/images/components/zoom-in/how-to-use-it-in-the-desktop-version.gif
  docs/.vuepress/public/images/components/zoom-in/how-to-use-it-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/zoom-in/ui-version-zoom-in.png
  docs/.vuepress/public/images/components/zoom-in/zk-desktop-version-zoom-in.png
  docs/es/guide/components/information.md
  docs/es/guide/components/notes.md
  docs/es/guide/components/translation.md
  docs/es/guide/components/update.md
  docs/es/guide/components/zoom-in.md
  docs/guide/components/information.md
  docs/guide/components/notes.md
  docs/guide/components/translation.md
  docs/guide/components/update.md
  docs/guide/components/zoom-in.md
  docs/zh/guide/components/information.md
  docs/zh/guide/components/notes.md
  docs/zh/guide/components/preference.md
  docs/zh/guide/components/record-access.md
  docs/zh/guide/components/translation.md
  docs/zh/guide/components/update.md
  docs/zh/guide/components/zoom-in.md
Labels: Documentation (Doc), Fast Resolution

#846 Fixed error with POS services
  src/api/ADempiere/form/price-checking.js
Labels: Fast Resolution, bug

#845 component modification notes
  docs/es/guide/components/notes.md
Labels: Documentation (Doc)

#844 Modification of the Document Structure
  docs/es/guide/components/record-access.md
  docs/guide/components/record-access.md
  docs/zh/guide/components/record-access.md
Labels: Documentation (Doc), Fast Resolution

#847 Close popover of field options
  src/components/ADempiere/Field/contextMenuField/calculator/index.vue
  src/components/ADempiere/Field/contextMenuField/contextInfo/index.vue
  src/components/ADempiere/Field/contextMenuField/preference/index.vue
  src/components/ADempiere/Field/contextMenuField/translated/index.vue
  src/components/ADempiere/Field/index.vue
  src/store/modules/ADempiere/contextMenu.js
  src/views/ADempiere/Window/windowLogicComponent.js
Labels: Fast Resolution, bug

#848 fix service Create Order Line
  src/api/ADempiere/form/point-of-sales.js
Labels: Fast Resolution, Point of Sales (POS), bug

#849 fix document
  docs/.vuepress/nav.js
  docs/.vuepress/theme/Home.vue
  docs/.vuepress/theme/utils.js
  docs/donate/README.md
  docs/es/donate/README.md
  docs/es/guide/other/gitter.md
  docs/guide/other/gitter.md
  docs/zh/donate/README.md
  docs/zh/guide/other/gitter.md
Labels: Documentation (Doc)

#850 Bugfix/reload product price
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/store/modules/ADempiere/pointOfSales/point/actions.js
Labels: Fast Resolution, bug

#851 Update update.md
  docs/guide/components/update.md
Labels: Documentation (Doc)

#853 components
  docs/.vuepress/config.js
  docs/.vuepress/public/images/components/activity/how-to-use-it-in-the-desktop-version.gif
  docs/.vuepress/public/images/components/activity/how-to-use-it-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/activity/ui-version-activity.png
  docs/.vuepress/public/images/components/activity/zk-desktop-version-activity.png
  docs/.vuepress/public/images/components/close-other-tabs/how-to-use-it-in-the-desktop-version.gif
  docs/.vuepress/public/images/components/close-other-tabs/how-to-use-it-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/close-other-tabs/ui-desktop-version-close-other-tabs.png
  docs/.vuepress/public/images/components/close-other-tabs/zk-desktop-version-close-other-tabs.png
  docs/.vuepress/public/images/components/close-tab/how-to-use-it-in-the-desktop-version.gif
  docs/.vuepress/public/images/components/close-tab/how-to-use-it-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/close-tab/ui-desktop-version-close-tab.png
  docs/.vuepress/public/images/components/close-tab/zk-desktop-version-close-tab.png
  docs/es/guide/components/activity.md
  docs/es/guide/components/close-other-tabs.md
  docs/es/guide/components/close-tab.md
  docs/guide/components/activity.md
  docs/guide/components/close-other-tabs.md
  docs/guide/components/close-tab.md
  docs/zh/guide/components/activity.md
  docs/zh/guide/components/close-other-tabs.md
  docs/zh/guide/components/close-tab.md
Labels: Documentation (Doc)

#852 feat: Remove common styles and duplicate css rules
  src/components/ADempiere/ContextMenu/contextMenuDesktop.vue
  src/components/ADempiere/ContextMenu/contextMenuMobile.vue
  src/components/ADempiere/ContextMenu/contextMenuStyleScoped.scss
  src/styles/ADempiere/index.scss
  src/styles/ADempiere/view.scss
  src/styles/index.scss
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Form/index.vue
  src/views/ADempiere/Process/index.vue
  src/views/ADempiere/ProcessActivity/index.vue
  src/views/ADempiere/ProcessActivity/modeDesktop.vue
  src/views/ADempiere/ProcessActivity/modeMobile.vue
  src/views/ADempiere/ProcessActivity/processActivityStyle.scss
  src/views/ADempiere/ReportViewer/index.vue
  src/views/ADempiere/Test/index.vue
  src/views/ADempiere/Unsupported/index.vue
  src/views/ADempiere/Window/index.vue
  src/views/ADempiere/Window/windowStyleScoped.scss
Labels: Base Changes, Fast Resolution

#854 Fix Price Checking
  src/api/ADempiere/form/price-checking.js
  src/components/ADempiere/Form/PriceChecking/fieldsList.js
  src/components/ADempiere/Form/PriceChecking/index.vue
  src/utils/ADempiere/request.js
Labels: Fast Resolution, UI Base Features, bug

#855 feat: Common title component
  package.json
  src/components/ADempiere/TitleAndHelp/index.vue
  src/main.js
  src/styles/ADempiere/view.scss
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Form/index.vue
  src/views/ADempiere/Process/index.vue
  src/views/ADempiere/ReportViewer/index.vue
  src/views/ADempiere/Summary/index.vue
  src/views/ADempiere/Test/index.vue
Labels: Base Changes, Fast Resolution

#856 components
  docs/.vuepress/config.js
  docs/.vuepress/public/images/components/close-all/how-to-use-it-in-the-desktop-version.gif
  docs/.vuepress/public/images/components/close-all/how-to-use-it-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/close-all/ui-desktop-version-close-all.png
  docs/.vuepress/public/images/components/close-all/zk-desktop-version-close-all.png
  docs/.vuepress/public/images/components/export-download-reports/export-download-reports-desktop-mobile.gif
  docs/.vuepress/public/images/components/export-download-reports/export-download-reports-desktop-mobile.png
  docs/.vuepress/public/images/components/export-download-reports/zk-desktop-version-export-download-reports.png
  docs/.vuepress/public/images/components/search/how-to-use-it-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/search/search-desktop-mobile.png
  docs/.vuepress/public/images/components/search/search-in-desktop-version.gif
  docs/.vuepress/public/images/components/search/zk-desktop-version-search.png
  docs/es/guide/components/close-all.md
  docs/es/guide/components/close-other-tabs.md
  docs/es/guide/components/close-tab.md
  docs/es/guide/components/export-download-reports.md
  docs/es/guide/components/search.md
  docs/guide/components/close-all.md
  docs/guide/components/export-download-reports.md
  docs/guide/components/search.md
  docs/zh/guide/components/close-all.md
  docs/zh/guide/components/export-download-reports.md
  docs/zh/guide/components/search.md
Labels: Documentation (Doc)

#857 support service image
  config/default.json
Labels: Base Changes, Fast Resolution, UI Base Tools

#858 change end point
  config/default.json
Labels: enhancement

#859 corrections of errors in Point of Sale services
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Field/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/Order/line/fieldsListLine.js
  src/components/ADempiere/Form/VPOS/Order/line/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/store/modules/ADempiere/pointOfSales/orderLine/actions.js
  src/store/modules/ADempiere/pointOfSales/orderLine/mutations.js
  src/store/modules/ADempiere/pointOfSales/orderLine/state.js
Labels: Fast Resolution, Minor Change, Point of Sales (POS), bug

#860 Support to Private Access
  src/api/ADempiere/actions/private-access.js
  src/components/ADempiere/Tab/index.vue
  src/store/modules/ADempiere/data/actions.js
Labels: Fast Resolution, Minor Change, bug

#861 components
  docs/.vuepress/config.js
  docs/.vuepress/public/images/components/change-role/how-to-use-it-in-the-desktop-version.gif
  docs/.vuepress/public/images/components/change-role/how-to-use-it-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/change-role/ui-version-change-role.png
  docs/.vuepress/public/images/components/change-role/zk-desktop-version-change-role.png
  docs/.vuepress/public/images/components/hide-menu/how-to-use-it-in-the-desktop-version.gif
  docs/.vuepress/public/images/components/hide-menu/how-to-use-it-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/hide-menu/ui-version-hide-menu.png
  docs/.vuepress/public/images/components/hide-menu/zk-desktop-version-hide-menu.png
  docs/.vuepress/public/images/components/lock-unlock-records/how-to-use-it-in-the-desktop-version.gif
  docs/.vuepress/public/images/components/lock-unlock-records/how-to-use-it-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/lock-unlock-records/ui-version-lock-unlock-records.png
  docs/.vuepress/public/images/components/lock-unlock-records/zk-desktop-version-lock-unlock-records.png
  docs/.vuepress/public/images/components/references/how-to-use-it-in-the-desktop-version.gif
  docs/.vuepress/public/images/components/references/how-to-use-it-in-the-mobile-version.gif
  docs/.vuepress/public/images/components/references/ui-version-references.png
  docs/.vuepress/public/images/components/references/zk-desktop-version-references.png
  docs/es/guide/components/change-role.md
  docs/es/guide/components/hide-menu.md
  docs/es/guide/components/lock-unlock-records.md
  docs/es/guide/components/references.md
  docs/guide/components/change-role.md
  docs/guide/components/hide-menu.md
  docs/guide/components/lock-unlock-records.md
  docs/guide/components/references.md
  docs/zh/guide/components/change-role.md
  docs/zh/guide/components/hide-menu.md
  docs/zh/guide/components/lock-unlock-records.md
  docs/zh/guide/components/references.md
Labels: Documentation (Doc)

#862 Changing order table options
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/Order/line/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: Fast Resolution, Point of Sales (POS)

#865 support to pin the pos
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Order/line/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/pointOfSales/orderLine/mutations.js
  src/store/modules/ADempiere/pointOfSales/orderLine/state.js
Labels: Minor Change, Point of Sales (POS)

#866 search for the conversion date by the current date
  src/components/ADempiere/Form/VPOS/Collection/fieldsListCollection.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
  src/components/ADempiere/Form/VPOS/ProductInfo/productList.vue
  src/store/modules/ADempiere/pointOfSales/getters/index.js
Labels: Minor Change, Point of Sales (POS), bug

#870 Fixes Customer the Point of Sales
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/store/modules/ADempiere/pointOfSales/orderLine/actions.js
Labels: Minor Change, Point of Sales (POS), bug

#871 Add documentation for developer mode to change role
  docs/es/guide/components/change-role.md
  docs/guide/components/change-role.md
  docs/zh/guide/components/change-role.md
Labels: Documentation (Doc)

#872 Add documentation for developer mode of the Lock/Unlock Logs service
  docs/es/guide/components/lock-unlock-records.md
  docs/guide/components/lock-unlock-records.md
  docs/zh/guide/components/lock-unlock-records.md
Labels: Documentation (Doc)

#868 Support for image loading at the point of sale
  config/default.json
  src/components/ADempiere/Form/VPOS/KeyLayout/index.vue
  src/utils/ADempiere/resource.js
Labels: Minor Change, Point of Sales (POS)

#873 Fixing context menu error
  src/components/ADempiere/ContextMenu/contextMenuDesktop.vue
Labels: Fast Resolution, Minor Change, bug

#876 Add flag for support to beta functionality
  config/default.json
Labels: Base Changes

#874 add Documente activity
  docs/es/guide/components/activity.md
  docs/guide/components/activity.md
  docs/zh/guide/components/activity.md
  src/utils/ADempiere/resource.js
Labels: Documentation (Doc)

#879 feat: Redefinition filter fields.
  src/components/ADempiere/FilterFields/index.vue
  src/components/ADempiere/Panel/filterFields.vue
  src/components/ADempiere/Panel/mainPanelMixin.js
  src/store/modules/ADempiere/panel/getters.js
  src/utils/ADempiere/dictionaryUtils.js
Labels: Base Changes

#878 Error when translating the menu in the documentation menu
  docs/.vuepress/config.js
  docs/es/guide/components/notes.md
  docs/es/guide/components/preference.md
  docs/es/guide/components/record-access.md
  docs/guide/components/notes.md
  docs/guide/components/preference.md
  docs/guide/components/record-access.md
  docs/zh/guide/components/notes.md
  docs/zh/guide/components/preference.md
  docs/zh/guide/components/record-access.md
Labels: Documentation (Doc)

#880 feat: Process redefinition
  config/default.json
  src/components/ADempiere/PanelDefinition/StandardPanel.vue
  src/components/ADempiere/PanelDefinition/UnsupportedPanel.vue
  src/components/ADempiere/PanelDefinition/index.vue
  src/utils/ADempiere/dictionaryUtils.js
  src/views/ADempiere/ProcessView/index.vue
Labels: Improve Source Code, Long Resolution, Proposal, UI Tools

#877 Error loading Tender Type fields
  src/components/ADempiere/Form/VPOS/Collection/fieldsListCollection.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/store/modules/ADempiere/lookup.js
Labels: Minor Change, Point of Sales (POS), bug

#882 Add some POS images
  docs/.vuepress/public/images/forms/point-of-sales/pos-en.png
  docs/.vuepress/public/images/forms/point-of-sales/pos-es.png
Labels: Fast Resolution, Point of Sales (POS)

#883 Add images for Readme
  README.es.md
  README.md
Labels: Minor Change

#884 changer le style du couvre-chef du catalogue
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/components/ADempiere/Form/VPOS/KeyLayout/index.vue
Labels: Fast Resolution, Point of Sales (POS), enhancement

#885 Fast filtering in the tables
  src/components/ADempiere/DataTable/dataTables-Script.js
  src/components/ADempiere/DataTable/index.vue
Labels: Fast Resolution, Minor Change, bug

#886 Adjust point of sale catalog image
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/components/ADempiere/Form/VPOS/KeyLayout/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: Minor Change, Point of Sales (POS)

#867 fix: Options fields operator comparison.
  src/components/ADempiere/Field/FieldOptions/documentStatus/index.vue
  src/components/ADempiere/Field/FieldOptions/fieldOptionsList.js
  src/components/ADempiere/Field/FieldOptions/index.vue
  src/components/ADempiere/Field/FieldOptions/operatorComparison/index.vue
  src/components/ADempiere/Field/FieldOptions/preference/index.vue
  src/components/ADempiere/Field/FieldOptions/preference/preferenceFields.js
  src/components/ADempiere/Field/index.vue
  src/components/ADempiere/Field/popover/operatorComparison.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/views/ADempiere/Window/windowLogicComponent.js
Labels: Improve Source Code, Medium Resolution, UI Base Features, bug

#888 feat: Reorganize Options Fields path.
  src/components/ADempiere/Field/FieldOptions/calculator/buttons.js
  src/components/ADempiere/Field/FieldOptions/calculator/index.vue
  src/components/ADempiere/Field/FieldOptions/changeLogs/index.vue
  src/components/ADempiere/Field/FieldOptions/contextInfo/index.vue
  src/components/ADempiere/Field/FieldOptions/fieldOptionsList.js
  src/components/ADempiere/Field/FieldOptions/translated/index.vue
  src/views/ADempiere/Window/index.vue
  src/views/ADempiere/Window/windowLogicComponent.js
Labels: Fast Resolution, Improve Source Code, Minor Change, UI Lookups

#887 fix: Get lookup item
  src/api/ADempiere/window.js
  src/components/ADempiere/Field/FieldSelect.vue
  src/store/modules/ADempiere/lookup.js
Labels: Fast Resolution, UI Lookups, bug

#891 fix: Date field range distorts field list.
  src/components/ADempiere/Field/index.vue
Labels: UI Lookups, bug

#890 style of the product information table in mobile mode
  src/components/ADempiere/Form/ProductInfo/productList.vue
Labels: Fast Resolution, Minor Change, bug

#894 fixe Point of Sales
  src/components/ADempiere/Form/VPOS/Collection/convertAmount/index.vue
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: Minor Change, Point of Sales (POS), bug
