Repository adempiere/adempiere-vue, pull requests merged in 2021-08, with the labels that each got.

#1016 feat: Add support docker hub continuous delivery.
  .github/workflows/publish.yml
  README.es.md
  README.md
  build/Dockerfile.dist
  build/Dockerfile.prod
Labels: Continuous Integration(CI), Deployment

#1017 feat: Add github secret org name to docker hub
  .github/workflows/publish.yml
Labels: Base Changes, Continuous Integration(CI)

#1019 fix: Docker image files.
  .github/workflows/publish.yml
  build/Dockerfile.prod
Labels: bug, Continuous Integration(CI), Deployment

#1018 Fixe Overdrawn Invoice
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/fieldsListOverdrawnInvoice.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1025 Adjusting the line information window at the point of sale
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1024 Intuitive output on the point-of-sale product search panel
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
  src/components/ADempiere/Form/VPOS/ProductInfo/productList.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1026 adding converted currency symbol
  src/components/ADempiere/Form/PriceChecking/index.vue
  src/components/ADempiere/Form/VPOS/Collection/convertAmount/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1008 Support Attachment
  src/api/ADempiere/user-interface.js
  src/components/ADempiere/Attachment/index.vue
  src/image/ADempiere/excel.png
  src/image/ADempiere/html.png
  src/image/ADempiere/pdf.png
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/attachment.js
  src/store/modules/ADempiere/processLog.js
  src/views/ADempiere/Window/index.vue
  src/views/ADempiere/Window/windowLogicComponent.js
Labels: Waiting for Definition, Proposal

#969 support Product Configuration
  src/api/ADempiere/dictionary/workflow.js
  src/api/ADempiere/workflow.js
  src/components/ADempiere/Badge/index.vue
  src/components/ADempiere/Form/WorkflowActivity/index.vue
  src/components/ADempiere/Workflow/index.vue
  src/store/modules/ADempiere/WorkflowActivity.js
  src/store/modules/ADempiere/panel/actions.js
  src/store/modules/ADempiere/process/actions.js
  src/store/modules/ADempiere/process/mutations.js
  src/store/modules/ADempiere/workflowDefinition.js
  src/utils/ADempiere/dictionaryUtils.js
  src/views/ADempiere/Workflow/index.vue
  src/views/login/index.vue
Labels: Waiting for Definition, Functional Test

#1028 Change readme for run
  README.es.md
  README.md
Labels: Continuous Integration(CI)

#960 Support Assign PO-Invoice-Receipt-Invoice
  config/default.json
  package-lock.json
  src/api/ADempiere/form/match.js
  src/components/ADempiere/Carousel/index.vue
  src/components/ADempiere/Form/VMatch/components/Invoices/index.vue
  src/components/ADempiere/Form/VMatch/components/Receipt/index.vue
  src/components/ADempiere/Form/VMatch/components/SearchCriteria/index.vue
  src/components/ADempiere/Form/VMatch/components/tableFrom.vue
  src/components/ADempiere/Form/VMatch/fieldList.js
  src/components/ADempiere/Form/VMatch/index.vue
  src/components/ADempiere/Form/VMatch/labelTable.js
  src/components/ADempiere/Form/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/form/VMatch.js
Labels: Waiting for Definition, Proposal

#945 Support for the Read Weight form (From Scale)
  config/default.json
  package-lock.json
  src/api/ADempiere/form/weight.js
  src/components/ADempiere/Form/VGetWeight/index.vue
  src/components/ADempiere/Form/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/views/ADempiere/Form/index.vue
Labels: Waiting for Definition, Proposal

#1036 fix point-of-sale options
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/components/ADempiere/Form/index.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1043 infinite loop in product table
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
  src/components/ADempiere/Form/VPOS/ProductInfo/productList.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1051 Improve when creating a business partner location from point of sale
  src/components/ADempiere/Field/FieldLocation/index.vue
  src/components/ADempiere/Field/FieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1052 Error starting section
  src/store/modules/ADempiere/WorkflowActivity.js
  src/store/modules/ADempiere/system.js
  src/views/login/index.vue
Labels: bug, Fast Resolution

#1053 Display empty footer
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1057 Lock Order Complete
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1041 feat: Load Process
  package.json
  src/components/ADempiere/ActionMenu/Actions.vue
  src/components/ADempiere/ActionMenu/References.vue
  src/components/ADempiere/ActionMenu/index.vue
  src/lang/ADempiere/en/actionMenu.js
  src/lang/ADempiere/es/actionMenu.js
  src/store/modules/ADempiere/dictionary/index.js
  src/store/modules/ADempiere/dictionary/process/actions.js
  src/store/modules/ADempiere/dictionary/process/mutations.js
  src/store/modules/ADempiere/report.js
  src/views/ADempiere/Process/index.vue
Labels: bug

#1062 feat: Add load smart browser
  package.json
  src/components/ADempiere/Field/FieldText.vue
  src/components/ADempiere/Field/index.vue
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/store/modules/ADempiere/dictionary/browser/mutations.js
  src/store/modules/ADempiere/dictionary/browser/state.js
  src/views/ADempiere/Browser/index.vue
Labels: Base Changes

#1066 Amount converted to payment
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1063 Error creating order
  src/components/ADempiere/Field/FieldNumber.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1071 feat: Push docker image with commit.
  .github/workflows/push-image.yml
  package-lock.json
Labels: Continuous Integration(CI)

#1069 Correcting line counting error
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/Order/line/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1070 Pagination of tables
  src/components/ADempiere/Form/ProductInfo/productList.vue
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
  src/components/ADempiere/Form/VPOS/ProductInfo/productList.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1079 fix: Add missing translation es lang.
  src/components/ADempiere/DefaultTable/columnsDisplayOption.vue
  src/lang/ADempiere/es/index.js
Labels: Base Changes

#1072 Add converted order total
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1083 Changing service of creating business partner
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1082 validate terminal configurator
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/point/actions.js
  src/store/modules/ADempiere/pointOfSales/point/mutations.js
  src/store/modules/ADempiere/pointOfSales/point/state.js
  src/store/modules/ADempiere/utils.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1084 fix: Click item menu without relation.
  src/components/ADempiere/ActionMenu/Relations.vue
Labels: bug, Minor Change

#1080 List Orders to be invoiced
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: bug, Point of Sales (POS), Functional Test

#1085 Validate POS options
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1087 Modify dimensions of the order to be invoiced table
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1089 Add daily limit and limit per transaction
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/fieldsListOverdrawnInvoice.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1088 Add function for number formatting in decimals
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/utils/ADempiere/globalMethods.js
  src/utils/ADempiere/valueUtils.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1030 Loading windows with vuex
  src/components/ADempiere/ActionMenu/Actions.vue
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/views/ADempiere/Window/index.vue
  src/views/ADempiere/Window/windowUtils.js
Labels: bug, Fast Resolution, Minor Change

#1091 Error adding payment
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1090 Select a sales order
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1096 Support for payment types in the return of funds
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/fieldsListACH.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/MobilePayment.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1097 Support for zelle payment types in the return of funds
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/zelle/fieldsList.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/zelle/index.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1101 Support for cash payment types in the return of funds
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/cash/fieldsListCash.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/cash/index.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1099 error when adding payment with decimals
  src/components/ADempiere/Form/VPOS/Collection/index.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1098 Payment method not supported
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/empty.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1094 Validation when the order is complete
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1095 fix: Load window for the first time
  src/views/ADempiere/Window/windowLogicComponent.js
Labels: bug

#1104 Add image at the point of sale
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/image/ADempiere/pos/typePayment/ACH.jpg
  src/image/ADempiere/pos/typePayment/Cash.jpg
  src/image/ADempiere/pos/typePayment/Default.jpg
  src/image/ADempiere/pos/typePayment/GiftCard.jpg
  src/image/ADempiere/pos/typePayment/MobilePayment.jpg
  src/image/ADempiere/pos/typePayment/Zelle.jpg
Labels: bug, Fast Resolution, Point of Sales (POS)

#1108 Change document type at the point of sale
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1106 show price base the info product
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1110 Support Maximum Allowable Reimbursement
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: bug, Fast Resolution, Point of Sales (POS)

#1109 validate refund
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/fieldsListACH.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/Cash/fieldsListCash.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/Cash/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/GiftCards/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/MobilePayment/fieldsListMobilePayment.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/MobilePayment/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/Zelle/fieldsList.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/Zelle/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/typeRefund/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1112 feature: Change actions menu.
  src/components/ADempiere/ActionMenu/Actions.vue
  src/views/ADempiere/Test/MultiTabWindow/index.vue
  src/views/ADempiere/Window/index.vue
Labels: Base Changes

#1111 fixe translation
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: Point of Sales (POS)

#1113 change the tender type service
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Collection/fieldsListCollection.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/fieldsListACH.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/Cash/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/MobilePayment/fieldsListMobilePayment.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/MobilePayment/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/image/ADempiere/pos/typePayment/Mobile.jpg
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1114 Correcting point of sale style
  src/components/ADempiere/Form/VPOS/Collection/fieldsListCollection.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
  src/components/ADempiere/Form/VPOS/ProductInfo/productList.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/lang/ADempiere/es.js
Labels: bug, Fast Resolution, Point of Sales (POS)

#1117 Add service create a customer account
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/Cash/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/MobilePayment/index.vue
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
  src/store/modules/ADempiere/pointOfSales/payments/getters.js
  src/store/modules/ADempiere/pointOfSales/payments/mutations.js
  src/store/modules/ADempiere/pointOfSales/payments/state.js
Labels: Point of Sales (POS)

#1139 fix: Implement multitab.
  package.json
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/dictionary/window/mutations.js
  src/views/ADempiere/Window/MultiTabWindow.vue
  src/views/ADempiere/Window/index.vue
  yarn.lock
Labels: 01 Enhancement

#1140 Display returns
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/Cash/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/MobilePayment/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/Zelle/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
  src/store/modules/ADempiere/pointOfSales/payments/getters.js
  src/store/modules/ADempiere/pointOfSales/payments/mutations.js
  src/store/modules/ADempiere/pointOfSales/payments/state.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1141 select the content of the field by clicking on it
  src/components/ADempiere/Field/FieldNumber.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1142 Default option on return
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1143 support customer bank account
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/fieldsListACH.js
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/components/ADempiere/Form/VPOS/Order/ImageProduct/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
Labels: 01 Enhancement, 27 Fast Resolution, (POS) Point of Sales

#1144 Changing color of the confirm button in the return panel
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales
