Repository adempiere/adempiere-vue, pull requests merged in 2021-09, with the labels that each got.

#1145 Add Discount Amount and iba Amount columns
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1146 validate order limit
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1148 Search the conversion rate by order date
  src/components/ADempiere/Form/PriceChecking/index.vue
  src/components/ADempiere/Form/VPOS/Collection/convertAmount/index.vue
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/utils/ADempiere/valueFormat.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1149 Process order with open balance
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1151 rate display in order header
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1152 Do not modify the template business partner
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1154 add price formatting to the order history table
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1153 Upload Image to Product Information
  src/components/ADempiere/Form/VPOS/Order/ImageProduct/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 02 Bug, 32 Proposal, 27 Fast Resolution, (POS) Point of Sales

#1155 Add price format to the return
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1157 calculate the total tax of the order
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1156 Add product code in the price viewer
  src/components/ADempiere/Form/PriceChecking/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1160 update order when adding a payment
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1161 Change return card style
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/Cash/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/MobilePayment/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/Zelle/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1163 display payments according to payment methods
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1164 Order history
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
  src/utils/ADempiere/valueUtils.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1165 Remove discount
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1169 fixed rate in the amount
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1180 Send all business partner data
  src/api/ADempiere/form/point-of-sales.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1171 Validate return
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1174 Keeping the focus when selecting a product
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1176 Validate pin when creating an order
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1177 Add focus when creating a new order
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
  src/store/modules/ADempiere/utils.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1178 Pressing Enter should apply the same action as the ok button.
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnersList.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/store/modules/ADempiere/utils.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1179 Remove console
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1181 Validate fields before adding payment
  src/components/ADempiere/Form/VPOS/Collection/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1182 Transfer payment method fields
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/fieldsListACH.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/MobilePayment/fieldsListMobilePayment.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/MobilePayment/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/Zelle/fieldsList.js
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1183 proposal for return cards
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: 02 Bug, 32 Proposal, 27 Fast Resolution, (POS) Point of Sales

#1186 Cannot read 'dispatch' property
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1184 Add image to the collection
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1185 Add missing service parameters
  src/api/ADempiere/form/point-of-sales.js
  src/api/ADempiere/form/price-checking.js
  src/components/ADempiere/Form/PriceChecking/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
  src/store/modules/ADempiere/pointOfSales/productPrice/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1187 calculating the tax on discounting
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1188 Error when creating new order by pos options panel
  src/components/ADempiere/Form/VPOS/Options/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1189 validate before adding a payment
  src/components/ADempiere/Form/VPOS/Collection/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1191 display the amount of tax and discount in the Point of Sale currency
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1192 Add shipping address
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldListShippingAddress.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListCreate.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingAddress.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/utils.js
Labels: 01 Enhancement, 32 Proposal, (POS) Point of Sales, 12 Feature

#1193 Bugfix/displaye amount convertion
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1194 fix: Windows set default values.
  src/components/ADempiere/Panel/mainPanelMixin.js
  src/components/ADempiere/PanelDefinition/index.vue
  src/components/ADempiere/PanelDefinition/panelUtils.js
  src/components/ADempiere/RecordNavigation/index.vue
  src/components/ADempiere/TabManager/index.vue
  src/store/modules/ADempiere/dataManager.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/panel/getters.js
  src/store/modules/ADempiere/persistence.js
  src/utils/ADempiere/constants/systemColumns.js
  src/utils/ADempiere/dataUtils.js
  src/views/ADempiere/Window/index.vue
  src/views/ADempiere/Window/windowUtils.js
Labels: 02 Bug, (UITL) UI Tools, 31 Medium Resolution

#1195 fix: Smart browser load.
  src/components/ADempiere/ActionMenu/Actions.vue
  src/components/ADempiere/Field/index.vue
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/views/ADempiere/Browser/index.vue
Labels: 02 Bug, (UITL) UI Tools

#1196 Validate that a Business Partner cannot be modified after collections have been recorded
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1198 Add date field for search
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1199 loop in the product search
  src/components/ADempiere/Form/VPOS/ProductInfo/productList.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1204 Add focus when deleting line
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1208 fix: References loading indefinitely.
  src/components/ADempiere/ActionMenu/References.vue
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/references.js
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: 02 Bug, (UITL) UI Tools, (MEN) Menues

#1200 Notify when you do not get the business partner
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnersList.vue
  src/store/modules/ADempiere/businessPartner.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1205 Process order without completing the return process
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1206 Indicate when you are loading the order history
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1207 Add payments with no conversion rate
  src/components/ADempiere/Form/VPOS/Collection/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1209 Remove ID column from the business partner table
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnersList.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1203 Add user to profile
  src/image/ADempiere/avatar/no-avatar.png
  src/layout/components/Navbar.vue
  src/layout/components/ProfilePreview.vue
  src/store/modules/user.js
  src/views/profile/components/RolesNavbar.vue
  src/views/profile/components/role.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1201 Search by price list and current warehouse
  src/components/ADempiere/Form/PriceChecking/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
  src/store/modules/ADempiere/pointOfSales/productPrice/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1219 Validate business partner template
  src/components/ADempiere/Form/VPOS/BusinessPartner/billingAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/mixinBusinessPartner.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingAddress.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1220 Search for payments for the current order
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1221 Current payment currency
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1224 Proposa: Change the way you update line
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: 01 Enhancement, 32 Proposal, (MNC) Minor Change, (POS) Point of Sales, 12 Feature, 20 Refactoring

#1222 Amount of tax per line
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1218 add confirmation and cancel buttons in the product list
  src/components/ADempiere/Form/ProductInfo/index.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
  src/components/ADempiere/Form/VPOS/ProductInfo/productList.vue
  src/store/modules/ADempiere/utils.js
Labels: (POS) Point of Sales

#1223 fix: Show records panel only in the corresponding tab.
  src/components/ADempiere/AuxiliaryPanel/index.vue
  src/components/ADempiere/PanelDefinition/panelUtils.js
  src/components/ADempiere/TabManager/index.vue
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/dictionary/window/mutations.js
  src/store/modules/ADempiere/utils.js
Labels: 02 Bug, (UITL) UI Tools, 27 Fast Resolution, 20 Refactoring

#1217 Add confirm and cancel button when searching for orders
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/pointOfSales/getters/index.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1216 Add confirm and cancel button in business partner search engine
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnersList.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1225 Product Search combo box ordered by value
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1227 Open Create, Search and Update Record panel with a single click
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1228 Add Focus in the product search
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1213 Support to CRUD
  src/lang/ADempiere/en/recordManager.js
  src/lang/ADempiere/es/recordManager.js
  src/store/modules/ADempiere/panel/actions.js
  src/store/modules/ADempiere/persistence.js
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: 02 Bug, 24 Basic Changes, 32 Proposal, 20 Refactoring

#1212 feat: Add shared link.
  src/components/ADempiere/ActionMenu/Actions.vue
  src/components/ADempiere/ActionMenu/References.vue
  src/components/ADempiere/ActionMenu/Relations.vue
  src/layout/components/AppMain.vue
  src/store/modules/ADempiere/dataManager.js
  src/store/modules/ADempiere/fieldValue.js
  src/store/modules/ADempiere/permantLink.js
  src/store/modules/ADempiere/utils.js
  src/utils/ADempiere/constants/actionsMenuList.js
  src/utils/ADempiere/coreUtils.js
  src/utils/ADempiere/filters.js
  src/views/documentation/RepositoryDocumentation.vue
Labels: 01 Enhancement, (MEN) Menues

#1226 Support Confirm Delivery
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
  src/store/modules/ADempiere/pointOfSales/payments/getters.js
  src/store/modules/ADempiere/pointOfSales/payments/mutations.js
  src/store/modules/ADempiere/pointOfSales/payments/state.js
  src/store/modules/ADempiere/utils.js
Labels: 01 Enhancement, 32 Proposal, (POS) Point of Sales

#1230 Support Scan Products
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1231 Correct Payment Form Selection
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
Labels: (POS) Point of Sales

#1232 Error in Change Dialog Display
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/ACH/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1233 support create a customer
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1236 Support for action buttons in mobile mode
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1234 Search by code Value
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListSearch.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1235 Error when selecting cancel invoice with difference
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1237 Create customer without address
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/mixinBusinessPartner.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1238 Modify the Name of the Columns in the UI
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1239 Error when canceling the order with different currency
  src/components/ADempiere/Form/VPOS/Collection/index.vue
Labels: 02 Bug, (POS) Point of Sales

#1241 Does not update price list
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1242 Quick Point of Sales Options: should collapse after selection
  src/components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/ImageProduct/index.vue
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1243 Sort Column Names in the UI
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/paymentTypeChange/empty.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales
