Repository adempiere/adempiere-vue, pull requests merged in 2021-12, with the labels that each got.

#1407 feat: Add get cell value from table records.
  src/components/ADempiere/Field/FieldDate.vue
  src/components/ADempiere/Field/FieldNumber.vue
  src/components/ADempiere/Field/FieldOptions/CalculatorField/index.vue
  src/components/ADempiere/Field/FieldOptions/PreferenceValue/index.vue
  src/components/ADempiere/Field/FieldSelect.vue
  src/components/ADempiere/Field/mixin/mixinField.js
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/data/actions.js
  src/store/modules/ADempiere/data/getters.js
  src/store/modules/ADempiere/system.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/formatValue/numberFormat.js
  src/utils/ADempiere/valueFormat.js
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Window/index.vue
Labels: 01 Enhancement, (UITL) UI Tools, 20 Refactoring

#1408 fix: Create new component composition api template
  plop-templates/ADempiere/component/compositionApiTemplate.hbs
  plop-templates/ADempiere/component/index.hbs
  plop-templates/ADempiere/view/compositionApiTemplate.hbs
  plop-templates/ADempiere/view/index.hbs
Labels: 02 Bug

#1410 fix: Set default values with containerManager.
  src/components/ADempiere/PanelDefinition/index.vue
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/constants/actionsMenuList.js
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Process/index.vue
  src/views/ADempiere/Window/MultiTabWindow.vue
  src/views/ADempiere/Window/index.vue
Labels: 01 Enhancement, (UITL) UI Tools, 20 Refactoring, (SB) Smart Browser, (PRC) Processes, (RPT) Reports

#1409 feat: Add selection table records.
  src/components/ADempiere/DefaultTable/index.vue
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/data/mutations.js
  src/store/modules/ADempiere/windowManager.js
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Window/MultiTabWindow.vue
  src/views/ADempiere/Window/index.vue
Labels: 01 Enhancement, (UITL) UI Tools, 20 Refactoring, (SB) Smart Browser

#1413 customer identification number
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1414 close panel delivery
  src/components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1416 product search at time of delivery confirmation
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnersList.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListSearch.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/FindOrders/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1415 process payment with adjustment
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1419 Add Print Ticket
  src/components/ADempiere/Form/VPOS/Options/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1421 Shows previously processed information
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1422 update phone
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1423 clean order after reversing
  src/components/ADempiere/Form/VPOS/Options/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1424 Correcting client address errors
  src/components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: (POS) Point of Sales

#1425 Multiple Returns
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1426 add Collect
  src/components/ADempiere/Form/VPOS/OrderList/FindOrders/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1428 get bank account details
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/fieldsListOverdrawnInvoice.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
Labels: 02 Bug, (POS) Point of Sales

#1429 remove console log point and add account type
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1431 show refund conversion
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1432 Validate amount greater than the refund
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/FindOrders/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1434 Add Phone
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/mixinBusinessPartner.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1438 validate payment refund
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1439 correct translation
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1440 hold only draft orders
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1441 script on the ID
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1436 Add Sort Table
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/FindOrders/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1437 add Validate Subsequent Payment
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1435 log out due to inactivity
  config/default.json
  package.json
  src/App.vue
  src/components/ADempiere/ModalIdle/index.vue
  yarn.lock
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1442 Validate Limit Order
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1443 Fix Pagination
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1444 Location Field Sequence
  src/components/ADempiere/Form/VPOS/BusinessPartner/billingAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/billingAddressFieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/billingAddressFieldLocation/index.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/billingAddressFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/billingAddressFieldLocation/mixinLocation.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/mixinBusinessPartner.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingAddressFieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingAddressFieldLocation/index.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingAddressFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingAddressFieldLocation/mixinLocation.js
  src/store/modules/ADempiere/field.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1445 Undefined Notification
  src/store/modules/ADempiere/process/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1447 fix: Number field text align right.
  src/components/ADempiere/DefaultTable/CellInfo.vue
  src/components/ADempiere/Field/FieldNumber.vue
Labels: 02 Bug, 20 Refactoring

#1448 feat: Implement new document status component.
  src/components/ADempiere/ContainerInfo/recordLogs.vue
  src/components/ADempiere/ContainerOptions/DocumentStatusTag/index.vue
  src/components/ADempiere/Field/FieldOptions/ChangeLogs/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/FindOrders/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/searchCompleteOrders.vue
  src/components/ADempiere/Form/VPOS/OrderList/toDeliver.vue
  src/components/ADempiere/WorkflowStatusBar/index.vue
  src/utils/ADempiere/constants/systemColumns.js
  src/utils/ADempiere/dictionaryUtils.js
  src/utils/ADempiere/globalMethods.js
  src/utils/ADempiere/valueUtils.js
Labels: 01 Enhancement, 20 Refactoring

#1446 fix: Displayed column type button in table.
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/dictionaryUtils.js
  src/utils/ADempiere/references.js
Labels: 02 Bug, 20 Refactoring

#1449 fix: Default value send multiple request.
  src/components/ADempiere/Field/mixin/mixinField.js
  src/store/modules/ADempiere/data/actions.js
  src/store/modules/ADempiere/defaultValueManager.js
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/panel/actions.js
  src/store/modules/ADempiere/persistence.js
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: 02 Bug, 20 Refactoring

#1450 close the refund window and then open again by selecting the cart,
  src/components/ADempiere/Form/VPOS/Collection/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1451 Payment method without Refund configuration
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1454 feat: Process associated browser.
  src/components/ADempiere/ActionMenu/Actions.vue
  src/store/modules/ADempiere/actionMenuManager.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/utils/ADempiere/constants/actionsMenuList.js
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: 01 Enhancement, 20 Refactoring, (SB) Smart Browser, (PRC) Processes, (MEN) Menues

#1455 fix: Load records in tab parents.
  src/components/ADempiere/TabManager/index.vue
Labels: 02 Bug, 20 Refactoring

#1457 fix: Field logics.
  src/components/ADempiere/Field/FieldOptions/index.vue
  src/components/ADempiere/Field/mixin/mixinField.js
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/panel/actions.js
  src/utils/ADempiere/dictionary/panel.js
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Window/MultiTabWindow.vue
  src/views/ADempiere/Window/index.vue
Labels: 02 Bug, (UILP) UI Lookups, 24 Basic Changes, 20 Refactoring
