Repository adempiere/adempiere-vue, pull requests merged in 2022-02, with the labels that each got.

#1495 fix: Edit record in child tab.
  src/store/modules/ADempiere/fieldValue.js
  src/store/modules/ADempiere/persistence.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/constants/systemColumns.js
Labels: 02 Bug, (UITL) UI Tools, 27 Fast Resolution

#1497 fix: Pagination of records in window.
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/constants/table.js
Labels: 02 Bug, (UITL) UI Tools, 27 Fast Resolution

#1499 Assign Seller
  src/components/ADempiere/Form/VPOS/Options/AssignSeller/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
Labels: 01 Enhancement, 32 Proposal, (POS) Point of Sales

#1470 fix: Context org not found in org list.
  src/store/modules/user.js
Labels: 02 Bug, (SE) Security

#1493 Add Field Translation
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListCreate.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1303 Support to Discount List
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/es.js
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/point/actions.js
  src/store/modules/ADempiere/pointOfSales/point/mutations.js
  src/store/modules/ADempiere/pointOfSales/point/state.js
Labels: 32 Proposal, (POS) Point of Sales, 12 Feature, 17 Waiting for Information

#1420 Add discount to Order
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1507 empty rate of exchange
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1509 Fixe Upgrade business partner hangs
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es.js
  src/lang/ADempiere/es/index.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1510 translate table tag
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnersList.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListSearch.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1513 Fixe Price Consultant
  src/components/ADempiere/Field/FieldOptions/index.vue
  src/components/ADempiere/Form/PriceChecking/index.vue
  src/components/ADempiere/Form/ProductInfo/productList.vue
Labels: 02 Bug, 27 Fast Resolution

#1519 Open the price viewer with a user without an assigned POS terminal
  src/components/ADempiere/Form/PriceChecking/index.vue
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/pointOfSales/point/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1520 Fixe Can't get action
  src/layout/components/Sidebar/SidebarItem.vue
Labels: 02 Bug, 27 Fast Resolution

#1521 Fixed can't get WAREHOUSE function
  src/store/modules/user.js
Labels: 02 Bug, 27 Fast Resolution

#1523 Fixed error with button distributions
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: 02 Bug, (POS) Point of Sales

#1526 Client name is not updated
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/order/mutations.js
  src/store/modules/ADempiere/pointOfSales/order/state.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1532 show display amount
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1535 add params to service the assign seller
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Options/AssignSeller/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
  src/utils/ADempiere/resource.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1536 fetch translation from field definition
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListSearch.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1538 Add isOpenRefund parameters to the process order service
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1539 remove unnecessary validation
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: 02 Bug, (POS) Point of Sales

#1540 fix: Action button name.
  src/components/ADempiere/ActionMenu/Actions.vue
  src/components/ADempiere/ActionMenu/index.vue
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Process/index.vue
Labels: (PRC) Processes

#1541 Add image to assign seller window
  src/components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListSearch.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Options/AssignSeller/index.vue
Labels: 01 Enhancement, 32 Proposal

#1544 removing impractical functionality
  src/components/ADempiere/DefaultTable/index.vue
  src/views/ADempiere/Browser/index.vue
Labels: 02 Bug, 27 Fast Resolution

#1547 fix: #1516 Set warehouse value.
  src/store/modules/user.js
  src/utils/ADempiere/constants/systemColumns.js
Labels: 02 Bug, (UITL) UI Tools

#1549 fix: Correct previously loaded dependent list.
  src/components/ADempiere/Field/FieldSelect.vue
  src/store/modules/ADempiere/panel/actions.js
  src/utils/ADempiere/contextUtils.js
Labels: 02 Bug, (UILP) UI Lookups

#1542 Show fields according to payment method
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1552 fixed fields is mandatory in addressa
  src/components/ADempiere/Field/FieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/AddNewFieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/AddNewFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListCreate.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingFieldLocation/fieldsList.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1555 fixed fields List mandatory
  src/components/ADempiere/Field/FieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/AddNewFieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/AddNewFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/BillingFieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/BillingFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/billingAddressFieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingFieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingFieldLocation/locationAddressForm.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1556 fix: SmartBrowser edit row.
  src/components/ADempiere/DefaultTable/CellInfo.vue
  src/components/ADempiere/DefaultTable/index.vue
  src/components/ADempiere/Field/FieldAutocomplete.vue
  src/components/ADempiere/Field/FieldDate.vue
  src/components/ADempiere/Field/FieldSelect.vue
  src/components/ADempiere/Field/index.vue
  src/components/ADempiere/Field/mixin/mixinField.js
  src/components/ADempiere/RecordNavigation/index.vue
  src/store/modules/ADempiere/browserManager.js
  src/utils/ADempiere/constants/table.js
  src/utils/ADempiere/dictionary/browser.js
  src/views/ADempiere/Browser/index.vue
Labels: 02 Bug, (SB) Smart Browser

#1558 Fixed Filter Record
  src/api/ADempiere/user-interface/persistence.js
  src/components/ADempiere/DefaultTable/index.vue
  src/store/modules/ADempiere/windowManager.js
Labels: 02 Bug, 27 Fast Resolution

#1566 Fixed Process Activity
  src/store/modules/ADempiere/processLog.js
  src/views/ADempiere/ProcessActivity/processActivity.js
Labels: 02 Bug, 27 Fast Resolution

#1568 Fixed Update Business Partner Address from Point of Sale
  src/components/ADempiere/Form/VPOS/BusinessPartner/AddNewFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/BillingFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  src/store/modules/ADempiere/utils.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1572 fix: Report render in PDF file.
  src/views/ADempiere/ReportViewer/index.vue
Labels: 02 Bug, (UITL) UI Tools, (RPT) Reports

#1576 Fixe Improve service structure
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
Labels: 01 Enhancement

#1578 Add Report Name to Views tag
  src/router/modules/ADempiere/staticRoutes.js
  src/store/modules/ADempiere/processControl.js
  src/store/modules/ADempiere/reportManager.js
  src/store/modules/tagsView.js
  src/views/ADempiere/ProcessActivity/processActivity.js
Labels: 01 Enhancement

#1580 Fixed Define credit note fields
  src/components/ADempiere/Form/VPOS/Collection/fieldsListCollection.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: 01 Enhancement, 27 Fast Resolution, (POS) Point of Sales

#1584 feat: Download any extension report file.
  src/components/ADempiere/ActionMenu/Actions.vue
  src/components/ADempiere/FileRender/EmptyFile/index.vue
  src/components/ADempiere/FileRender/ExcelFile/index.vue
  src/components/ADempiere/FileRender/HtmlFile/index.vue
  src/components/ADempiere/FileRender/downloadFile.vue
  src/lang/ADempiere/en/actionMenu.js
  src/lang/ADempiere/es/actionMenu.js
  src/store/modules/ADempiere/dictionary/report/getters.js
  src/store/modules/ADempiere/reportManager.js
  src/utils/ADempiere/constants/actionsMenuList.js
  src/views/ADempiere/ReportViewer/index.vue
Labels: 01 Enhancement, (UITL) UI Tools, (UIX) User Experience, (RPT) Reports

#1587 Cash Transfer and Cash Deposit Support
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/store/modules/ADempiere/utils.js
  src/store/modules/tagsView.js
Labels: (POS) Point of Sales

#1589 feat: Add render report to xml extension file.
  package.json
  src/components/ADempiere/FileRender/XmlFile/index.vue
  src/components/ADempiere/FileRender/downloadFile.vue
  src/components/ADempiere/FileRender/index.vue
  src/store/modules/ADempiere/reportManager.js
  src/utils/ADempiere/dictionary/report.js
  src/views/ADempiere/ReportViewer/index.vue
  yarn.lock
Labels: 01 Enhancement, (UITL) UI Tools, 31 Medium Resolution, 12 Feature, (RPT) Reports

#1593 Fixed Date field error
  src/components/ADempiere/Field/FieldDate.vue
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/utils/ADempiere/formatValue/dateFormat.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1595 Fixed Creating Payment
  src/components/ADempiere/Form/VPOS/Collection/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1599 fix: Disabled print formats with available options
  src/store/modules/ADempiere/dictionary/report/actions.js
Labels: 02 Bug, (UITL) UI Tools, 27 Fast Resolution, (RPT) Reports

#1601 feat: Add report views support.
  src/lang/ADempiere/en/actionMenu.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/actionMenu.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/store/modules/ADempiere/reportManager.js
  src/utils/ADempiere/dictionary/report.js
  src/views/ADempiere/Report/index.vue
Labels: 01 Enhancement, (UITL) UI Tools, 31 Medium Resolution, 12 Feature, (RPT) Reports

#1606 fix: GitHub workflow run yarn dependencies.
  .babelrc
  .github/workflows/push-image.yml
  docs/package.json
  docs/yarn.lock
  package-lock.json
  package.json
  yarn.lock
Labels: 02 Bug, (CI/CD) Continuous Integration/Continous Delivery, 31 Medium Resolution

#1603 Fixed Persistence in the business partner
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1605 Fixed Persistence in collection
  src/components/ADempiere/Form/VPOS/Collection/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1610 Fixed The data persists in the general options of the Point of Sale
  src/components/ADempiere/Form/VPOS/Options/AssignSeller/index.vue
  src/components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  src/components/ADempiere/Form/VPOS/Options/CashSummaryMovements/index.vue
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1624 Support when registering type of person by the Point of sale
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListCreate.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: 01 Enhancement, 32 Proposal, 27 Fast Resolution, (POS) Point of Sales

#1636 Fixed Multiple top-ups when processing an order
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1638 Support User Timeout
  src/components/ADempiere/ModalIdle/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1640 Fixe Support isPayment Referent
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
Labels: 01 Enhancement, 32 Proposal, 27 Fast Resolution, (POS) Point of Sales

#1641 Support Update IsTaxpayer && PersonalType
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1643 fix: Immediately close page when running process/report.
  src/store/modules/ADempiere/processManager.js
  src/store/modules/ADempiere/reportManager.js
  src/views/ADempiere/ReportViewer/index.vue
Labels: (UITL) UI Tools, 27 Fast Resolution, (PRC) Processes, (RPT) Reports

#1645 fix: Query Criteria always closed by default.
  src/components/ADempiere/CollapseCriteria/index.vue
  src/components/ADempiere/FilterFields/index.vue
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Process/index.vue
  src/views/ADempiere/Report/index.vue
  src/views/ADempiere/Window/index.vue
Labels: (UITL) UI Tools, 31 Medium Resolution, (SB) Smart Browser

#1653 feat: Add enabled action by callback.
  src/components/ADempiere/ActionMenu/Actions.vue
  src/components/ADempiere/ActionMenu/common-style.scss
  src/components/ADempiere/ActionMenu/index.vue
  src/lang/ADempiere/en.js
  src/lang/ADempiere/en/actionMenu.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es.js
  src/lang/ADempiere/es/actionMenu.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/process/actions.js
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/utils/ADempiere/constants/actionsMenuList.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/report.js
  src/utils/ADempiere/notification.js
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Process/index.vue
  src/views/ADempiere/Report/index.vue
  src/views/ADempiere/Report/mixinReport.js
  src/views/ADempiere/ReportViewer/index.vue
Labels: 01 Enhancement, (UITL) UI Tools, 30 Long Resolution, (MEN) Menues

#1656 Fixed Dashboard style error
  src/components/ADempiere/Dashboard/charts/AreaChart.vue
  src/components/ADempiere/Dashboard/charts/BarChart.vue
  src/components/ADempiere/Dashboard/charts/LineChart.vue
  src/components/ADempiere/Dashboard/charts/PieChart.vue
  src/components/ADempiere/Dashboard/charts/RaddarChart.vue
  src/components/ADempiere/Dashboard/charts/WaterfallChart.vue
  yarn.lock
Labels: 02 Bug, 27 Fast Resolution

#1658 Fixed Shows the location of the current page
  src/components/Breadcrumb/index.vue
Labels: 02 Bug, 27 Fast Resolution

#1659 fix: Disabled tab actions menu.
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/utils/ADempiere/constants/actionsMenuList.js
  src/utils/ADempiere/dictionary/window.js
  src/views/ADempiere/Test/MultiTabWindow/index.vue
  src/views/ADempiere/Window/MultiTabWindow.vue
  src/views/ADempiere/Window/index.vue
Labels: 02 Bug, (UITL) UI Tools, 31 Medium Resolution, (MEN) Menues

#1660 Support Connection Timeout
  src/components/ADempiere/ModalIdle/index.vue
Labels: 02 Bug, 27 Fast Resolution

#1661 Apply Discount On Order
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Options/CashOpening/fieldsList.js
  src/components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/fieldsList.js
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales
