Repository adempiere/adempiere-vue, pull requests merged in 2022-03, with the labels that each got.

#1666 feat: Add change parameters in report.
  src/components/ADempiere/ModalDialog/index.vue
  src/components/ADempiere/PanelDefinition/index.vue
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/store/modules/ADempiere/modalDialogManager.js
  src/utils/ADempiere/dictionary/report.js
  src/views/ADempiere/ReportViewer/index.vue
Labels: 01 Enhancement, (UITL) UI Tools, 31 Medium Resolution, (RPT) Reports

#1667 feat: Add export records on SmartBrowser.
  src/lang/ADempiere/en/actionMenu.js
  src/lang/ADempiere/en/extensionFile.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/actionMenu.js
  src/lang/ADempiere/es/extensionFile.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/utils/ADempiere/constants/actionsMenuList.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/exportUtil.js
Labels: 01 Enhancement, 31 Medium Resolution, (SB) Smart Browser

#1675 Fixed Add parameters in the update order service
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldListUpdate.js
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1677 Fixe Multiple requests to create line
  src/components/ADempiere/Form/VPOS/Options/DiscountOrder/index.vue
  src/components/ADempiere/Form/VPOS/Options/SalesDiscountOff/index.vue
Labels: (POS) Point of Sales

#1683 Fix Open suggestions
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1679 Fixe Collect Agent
  src/components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1686 Support line with charge
  src/components/ADempiere/Form/VPOS/Order/index.vue
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1682 Fix Load panel and fields in window
  src/components/ADempiere/PanelDefinition/StandardPanel.vue
  src/components/ADempiere/PanelDefinition/index.vue
  src/components/ADempiere/TabManager/index.vue
Labels: 02 Bug, 27 Fast Resolution

#1688 Support Display Discuent Amount in Order
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: 01 Enhancement, 27 Fast Resolution, (POS) Point of Sales

#1692 Supoort to Discount Amount Off
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  yarn.lock
Labels: 01 Enhancement, 32 Proposal, 27 Fast Resolution, (POS) Point of Sales

#1693 Select order with double click
  src/components/ADempiere/Form/VPOS/OrderList/FindOrders/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
Labels: 01 Enhancement, 32 Proposal, 27 Fast Resolution, (POS) Point of Sales

#1695 Fixed in the Order Lines
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
  src/components/ADempiere/Form/VPOS/posMixin.js
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1696 Chang field label
  src/components/ADempiere/Form/VPOS/Options/DiscountOrder/fieldsList.js
  src/components/ADempiere/Form/VPOS/ProductInfo/index.vue
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: 01 Enhancement, 32 Proposal, (POS) Point of Sales

#1697 support isTaxIncluded
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: 01 Enhancement, 32 Proposal, (POS) Point of Sales

#1698 Support is Tax Included in Grand Total
  src/components/ADempiere/Form/VPOS/Order/orderLineMixin.js
Labels: 01 Enhancement, 32 Proposal, (POS) Point of Sales

#1701 fix: XLSX was not found default export.
  src/components/ADempiere/FileRender/ExcelFile/index.vue
  src/components/UploadExcel/index.vue
  src/vendor/Export2Excel.js
  src/views/ADempiere/ReportViewer/index.vue
Labels: 02 Bug, (ULB) Update Library, 27 Fast Resolution

#1707 Fixe Add full address in the post
  src/components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1703 feat: Add support to read only tab.
  src/components/ADempiere/Field/index.vue
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/utils/ADempiere/dictionary/window.js
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Process/mixinProcess.js
  src/views/ADempiere/Report/index.vue
  src/views/ADempiere/Report/mixinReport.js
  src/views/ADempiere/Window/index.vue
Labels: 01 Enhancement, (UITL) UI Tools, 31 Medium Resolution

#1702 feat: Add support to isFieldOnly attribute.
  src/components/ADempiere/Field/FieldOptions/LabelField.vue
  src/components/ADempiere/Field/FieldOptions/index.vue
  src/components/ADempiere/Field/index.vue
Labels: (UITL) UI Tools, 27 Fast Resolution

#1709 fix: Overwrite records parent tab.
  src/components/ADempiere/Field/FieldAutocomplete.vue
  src/components/ADempiere/Field/FieldDate.vue
  src/components/ADempiere/Field/FieldLocation/index.vue
  src/components/ADempiere/Field/FieldOptions/CalculatorField/index.vue
  src/components/ADempiere/Field/FieldOptions/ContextInfo/index.vue
  src/components/ADempiere/Field/FieldOptions/DocumentStatus/index.vue
  src/components/ADempiere/Field/FieldOptions/OperatorComparison/index.vue
  src/components/ADempiere/Field/FieldOptions/PreferenceValue/index.vue
  src/components/ADempiere/Field/FieldOptions/index.vue
  src/components/ADempiere/Field/FieldSelect.vue
  src/components/ADempiere/Field/index.vue
  src/components/ADempiere/Field/mixin/mixinField.js
  src/components/ADempiere/Field/mixin/mixinFieldRange.js
  src/components/ADempiere/TabManager/index.vue
  src/store/modules/ADempiere/fieldValue.js
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: 02 Bug, (UITL) UI Tools, 30 Long Resolution

#1711 fix: Preference context values.
  src/store/modules/ADempiere/preference.js
Labels: 02 Bug, (UIBF) UI Basic Features, 31 Medium Resolution

#1712 Error creating addresses
  src/components/ADempiere/Form/VPOS/BusinessPartner/index.vue
Labels: 02 Bug, 27 Fast Resolution, (POS) Point of Sales

#1710 feat: Implement lookup list without sql.
  src/api/ADempiere/browser.js
  src/api/ADempiere/window.js
  src/components/ADempiere/Field/FieldSelect.vue
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/lookupManager.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/contextUtils.js
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Process/index.vue
  src/views/ADempiere/Process/mixinProcess.js
  src/views/ADempiere/Report/index.vue
  src/views/ADempiere/Report/mixinReport.js
  src/views/ADempiere/Window/index.vue
Labels: 01 Enhancement, (UILP) UI Lookups, (UITL) UI Tools, 31 Medium Resolution, 20 Refactoring, (SB) Smart Browser, (PRC) Processes, (RPT) Reports

#1724 #1717 Detail tab window.
  src/components/ADempiere/TabManager/index.vue
Labels: (UITL) UI Tools, 27 Fast Resolution

#1725 Support to get Lookup List in the container manager
  src/components/ADempiere/Form/PriceChecking/index.vue
  src/components/ADempiere/Form/ProductInfo/index.vue
  src/components/ADempiere/Form/ProductInfo/productList.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/AddNewFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/AddNewFieldLocation/mixinLocation.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/BillingFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/BillingFieldLocation/mixinLocation.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/billingAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnersList.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingFieldLocation/mixinLocation.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
  src/components/ADempiere/Form/VPOS/Options/DiscountOrder/index.vue
  src/components/ADempiere/Form/VPOS/Options/SalesDiscountOff/index.vue
  src/components/ADempiere/Form/VPOS/Order/line/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
  src/components/ADempiere/Form/VPOS/containerManagerPos.js
  src/components/ADempiere/Form/formMixin.js
Labels: 01 Enhancement, 32 Proposal, (POS) Point of Sales
